.infoPoints-pre {
    color: black;
    cursor: pointer;
    display: flex;
    gap: 2rem;
}

.infoPoints-post {
    color: gray;
    text-decoration: line-through;
    cursor: pointer;
}

.info-done {
    color: rgb(124, 58, 58);
    text-decoration: line-through;
}